@model CMMTS.Domain.Entities.Usuario

@{
    ViewData["Title"] = "Cadastrar";
}

 <div class="card">
     <div class="card-header">Cadastro</div>
     <div class="card-body">

        @using(Html.BeginForm("Cadastrar2", "Home", FormMethod.Post))
        {
            <div class="form-group">
                <label>Nome</label>
                @Html.TextBoxFor(d=>d.Nome, new { @class="form-control" })
                <label>Email</label>
                @Html.TextBoxFor(d => d.Email, new { @class = "form-control" })
                <label>Senha</label>
                @Html.TextBoxFor(d => d.Senha, new { @class = "form-control" })
            </div>

            <input type="submit" class="btn btn-sucess btn-sm" />
        }
    </div>

 </div>